In [1]:
import pandas as pd

In [2]:
pheno=pd.read_csv("target_phenotype.csv")
pheno

      Trait_1
0    1.343404
1   -0.022436
2    0.742919
3   -2.484225
4    0.970082
..        ...
495  0.569970
496  0.640790
497  0.278661
498  0.248657
499 -0.018911

[500 rows x 1 columns]

In [3]:
pheno['FID'] = pheno.index
pheno["FID"]+=1
pheno["IID"] = pheno["FID"]

In [8]:
pheno

     IID  FID   Trait_1
0      1    1  1.120279
1      2    2 -0.637086
2      3    3  0.084279
3      4    4 -0.385476
4      5    5 -0.065513
..   ...  ...       ...
495  496  496  0.259119
496  497  497 -1.012707
497  498  498  1.132126
498  499  499 -1.391152
499  500  500 -1.864535

[500 rows x 3 columns]

In [4]:
pheno=pheno[["IID","FID","Trait_1"]]

In [5]:
pheno.to_csv("synthetic_pheno.csv",index=False,header=True,sep=" ")